<article class="post">
    <div class="fweet">
        <h1>{{fweet}}</h1>
    </div>
    <div class="meta">
         <a id="comment-tag" href="/post/{{id}}">{{comments.length}} {{format_plural "Comment" comments.length}}</a>
          |
        {{vote_count}} {{format_plural "like" vote_count}} 
       
       
    </div>
</article>
